'.source.gfm':
  '「要素名」エレメントをクリックする':
    'prefix': 'エレメントクリック'
    'body': '「${1:要素名}」エレメントをクリックする'
  '画面に「テキスト」と表示されていること':
    'prefix': '画面テキスト表示'
    'body': '画面に「${1:テキスト}」と表示されていること'
  '画面に「テキスト」と表示されていないこと':
    'prefix': '画面テキスト表示なし'
    'body': '画面に「${1:テキスト}」と表示されていないこと'
  '「要素名」に「テキスト」と表示されていること':
    'prefix': '要素テキスト表示'
    'body': '「${1:要素名}」に「${2:テキスト}」と表示されていること'
  '「要素名」に「テキスト」と表示されていないこと':
    'prefix': '要素テキスト表示なし'
    'body': '「${1:要素名}」に「${2:テキスト}」と表示されていないこと'
  '「要素名」の「属性名」属性に「テキスト」が含まれていること':
    'prefix': '要素属性含む'
    'body': '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていること'
  '「要素名」の「属性名」属性に「テキスト」が含まれていないこと':
    'prefix': '要素属性含まない'
    'body': '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていないこと'
  '「テキスト1」と「テキスト2」が一致すること':
    'prefix': 'テキスト一致'
    'body': '「${1:テキスト1}」と「${2:テキスト2}」が一致すること'
  '「テキスト」テキストが正規表現「正規表現」に一致すること':
    'prefix': 'テキスト正規表現一致'
    'body': '「${1:テキスト}」テキストが正規表現「${2:正規表現}」に一致すること'
  '$テキスト =「エレメント名」エレメントのテキスト':
    'prefix': 'エレメントテキスト取得'
    'body': '$テキスト =「${1:エレメント名}」エレメントのテキスト'
  '「URL」に移動する':
    'prefix': '移動'
    'body': '「${1:URL}」に移動する'
  '「リンク名」のリンク先へ移動する':
    'prefix': 'リンクへ移動'
    'body': '「${1:リンク名}」のリンク先へ移動する'
  'トップページに移動する':
    'prefix': 'トップページ'
    'body': 'トップページに移動する'
  '履歴の次のページへ進む':
    'prefix': '進む'
    'body': '履歴の次のページへ進む'
  '履歴の前のページに戻る':
    'prefix': '戻る'
    'body': '履歴の前のページに戻る'
  'ページをリロードする':
    'prefix': '更新'
    'body': 'ページをリロードする'
  'URLが「URL」であること':
    'prefix': 'URL確認'
    'body': 'URLが「${1:URL}」であること'
  'URLが「URL」でないこと':
    'prefix': 'URLでない'
    'body': 'URLが「${1:URL}」でないこと'
  '「フィールド名」フィールドに「入力値」と入力する':
    'prefix': 'フィールド入力'
    'body': '「${1:フィールド名}」フィールドに「${2:入力値}」と入力する'
  '「ボタン名」ボタンをクリックする':
    'prefix': 'ボタンクリック'
    'body': '「${1:ボタン名}」ボタンをクリックする'
  '「選択値」という値を「セレクトボックス名」から選択する':
    'prefix': 'セレクトボックス選択'
    'body': '「${1:選択値}」という値を「${2:セレクトボックス名}」から選択する'
  '「チェックボックス名」にチェックをつける':
    'prefix': 'セレクトボックスチェック'
    'body': '「${1:チェックボックス名}」にチェックをつける'
  '「チェックボックス名」のチェックをはずす':
    'prefix': 'セレクトボックスアンチェック'
    'body': '「${1:チェックボックス名}」のチェックをはずす'
  '「チェックボックス名」の「選択肢」にチェックを入れる':
    'prefix': 'セレクトボックス選択チェック'
    'body': '「${1:チェックボックス名}」の「${2:選択肢}」にチェックを入れる'
  '「フォーム名」フォームの「フィールド名」フィールドに「入力値」と入力する':
    'prefix': 'フォームフィールド入力'
    'body': '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドに「${3:入力値}」と入力する'
  '「フォーム名」フォームの「ボタン名」ボタンをクリックする':
    'prefix': 'フォームボタンクリック'
    'body': '「${1:フォーム名}」フォームの「${2:ボタン名}」ボタンをクリックする'
  '「フィールド名」フィールドにフォーカスを当てる':
    'prefix': 'フォームフォーカス'
    'body': '「${1:フィールド名}」フィールドにフォーカスを当てる'
  '「キー」キーを押す':
    'prefix': 'キー'
    'body': '「${1:キー}」キーを押す'
  '「フィールド名」フィールドの値が「入力値」であること':
    'prefix': 'フィールド確認'
    'body': '「${1:フィールド名}」フィールドの値が「${2:入力値}」であること'
  '「フィールド名」フィールドの値が「入力値」でないこと':
    'prefix': 'フィールド確認なし'
    'body': '「${1:フィールド名}」フィールドの値が「${2:入力値}」でないこと'
  '「セレクトボックス名」セレクトで「選択値」が選択されていること':
    'prefix': 'セレクトボックス確認'
    'body': '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていること'
  '「セレクトボックス名」セレクトで「選択値」が選択されていないこと':
    'prefix': 'セレクトボックス確認なし'
    'body': '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていないこと'
  'チェックボックス「チェックボックス名」のチェックがついていること':
    'prefix': 'セレクトボックス確認チェック'
    'body': 'チェックボックス「${1:チェックボックス名}」のチェックがついていること'
  'チェックボックス「チェックボックス名」のチェックがはずれていること':
    'prefix': 'セレクトボックス確認チェックなし'
    'body': 'チェックボックス「${1:チェックボックス名}」のチェックがはずれていること'
  '「フォーム名」フォームの「フィールド名」フィールドの値が「入力値」であること':
    'prefix': 'フォームフィールド確認'
    'body': '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」であること'
  '「フォーム名」フォームの「フィールド名」フィールドの値が「入力値」でないこと':
    'prefix': 'フォームフィールド確認なし'
    'body': '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」でないこと'
  '「フィールド名」フィールドにフォーカスが当たっていること':
    'prefix': 'フィールドフォーカス'
    'body': '「${1:フィールド名}」フィールドにフォーカスが当たっていること'
  '「チェックボックス名」の「選択肢」にチェックが入っていること':
    'prefix': 'チェックボックス選択確認'
    'body': '「${1:チェックボックス名}」の「${2:選択肢}」にチェックが入っていること'
  '画面に「ボタン名」ボタンがあること':
    'prefix': 'ボタン確認'
    'body': '画面に「${1:ボタン名}」ボタンがあること'
  '「リスト名」の中に重複がないこと':
    'prefix': 'リスト確認'
    'body': '「${1:リスト名}」の中に重複がないこと'
  '「テーブル名」テーブルの「行番号」行目「列番号」列目のテキストが「テキスト」であること':
    'prefix': 'テーブルテキスト確認'
    'body': '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキストが「${4:テキスト}」であること'
  '「テーブル名」テーブルの「行番号」行目「列番号」列目の背景色が「#000」であること':
    'prefix': 'テーブル色確認'
    'body': '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目の背景色が「${4:#000}」であること'
  '「テーブル名」テーブルの「検索する列番号」列目が「条件」の「合計する列番号」列目を合計する':
    'prefix': 'テーブル合計'
    'body': '「${1:テーブル名}」テーブルの「${2:検索する列番号}」列目が「${3:条件}」の「${4:合計する列番号}」列目を合計する'
  '$行番号 =「テーブル名」テーブルの「列番号」列目のテキストが「テキスト」の行番号':
    'prefix': 'テーブル行番号取得'
    'body': '$行番号 =「${1:テーブル名}」テーブルの「列番号」列目のテキストが「テキスト」の行番号'
  '$テキスト =「テーブル名」テーブルの「行番号」行目「列番号」列目のテキスト':
    'prefix': 'テーブルテキスト取得'
    'body': '$テキスト =「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキスト'
  'ウィンドウを最大化する':
    'prefix': '窓最大化'
    'body': 'ウィンドウを最大化する'
  'ウィンドウを幅「横幅」px、縦「縦幅」pxに変更する':
    'prefix': '窓変更'
    'body': 'ウィンドウを幅「${1:横幅}」px、縦「${2:縦幅}」pxに変更する'
  'ウィンドウを「タイトル名」に切り替える':
    'prefix': '窓タイトル変更'
    'body': 'ウィンドウを「${1:タイトル名}」に切り替える'
  '開いたウィンドウに切り替える':
    'prefix': '窓切り替え'
    'body': '開いたウィンドウに切り替える'
  '元のウィンドウに戻す':
    'prefix': '窓戻す'
    'body': '元のウィンドウに戻す'
  'アラートを閉じる':
    'prefix': 'アラート閉じる'
    'body': 'アラートを閉じる'
  'アラートに「メッセージ」と表示されていること':
    'prefix': 'アラート確認'
    'body': 'アラートに「${1:メッセージ}」と表示されていること'
  '確認ダイアログに「メッセージ」と表示されていること':
    'prefix': 'ダイアログ確認'
    'body': '確認ダイアログに「${1:メッセージ}」と表示されていること'
  '$数値 =「テキスト」から数値を抜き出す':
    'prefix': 'テキスト数値取得'
    'body': '$数値 =「${1:テキスト}」から数値を抜き出す'
  '$計算結果 =「計算式」の計算結果':
    'prefix': '計算結果取得'
    'body': '$計算結果 =「${1:keisanshiki}」の計算結果'
