'.source.md':
  'Click on Element':
    'prefix' : 'click on element'
    'body' : 'Click on "${1:Element}"'
  'Wait for Seconds':
    'prefix' : 'wait for seconds'
    'body' : 'Wait for "${1:Seconds}" seconds'
  'The Page should contain Text':
    'prefix' : 'the page should contain text'
    'body' : 'The page should contain "${1:Text}"'
  'The Page should not contain Text':
    'prefix' : 'the page should not contain text'
    'body' : 'The page should not contain "${1:Text}"'
  'The Element should contain Text':
    'prefix' : 'the element should contain text'
    'body' : 'The "${1:Element}" element should contain "${2:Text}"'
  'The Element should not contain Text':
    'prefix' : 'the element should not contain text'
    'body' : 'The "${1:Element}" element should not contain "${2:Text}"'
  'The Attribute of Element should contain Text':
    'prefix' : 'the attribute of element should contain text'
    'body' : 'the "${1:Attribute}" attribute of "${2:Element}" should contain "${3:Text}"'
  'The Attribute of Element should not contain Text':
    'prefix' : 'the attribute of element should not contain text'
    'body' : 'the "${1:Attribute}" attribute of "${2:Element}" should not contain "${3:Text}"'
  'Text shoud equal Text':
    'prefix' : 'text should equal text'
    'body' : '"${1:Text}" should equal "${2:Text}"'
  'Text should match Pattern':
    'prefix' : 'text should match pattern'
    'body' : '"${1:Text}" should match "${2:Pattern}"'
  'Text of Element':
    'prefix' : 'the text of element'
    'body' : 'The text of "${1:Element}"'
  'Count the elements which match Css':
    'prefix' : 'Count the elements which math css'
    'body' : 'Count the elements which match "${1:Css Selector}"'
  'Go to Url':
    'prefix' : 'go to Url'
    'body' : 'Go to "${1:Url}"'
  'Follow Link':
    'prefix' : 'follow link'
    'body' : 'Follow "${1:Link}"'
  'Go to the homepage':
    'prefix' : 'go to the homepage'
    'body' : 'Go to the homepage'
  'Move forward one page':
    'prefix' : 'move forward one page'
    'body' : 'Move forward one page'
  'Move backward one page':
    'prefix' : 'move backward one page'
    'body' : 'Move backward one page'
  'Reload the page':
    'prefix' : 'reload the page'
    'body' : 'Reload the page'
  'URL should be Url':
    'prefix' : 'url should be Url'
    'body' : 'The URL should be "${1:Url}"'
  'URL should not be Url':
    'prefix' : 'url should not be Url'
    'body' : 'The URl should not be "${1:Url}"'
  'Fill in Field with Value':
    'prefix' : 'fill in the Field with Value'
    'body' : 'Fill in the "${1:Field}" field with "${2:Value}"'
  'Press Button':
    'prefix' : 'press button'
    'body' : 'Press "${1:Button}" button'
  'Select Option from Select':
    'prefix' : 'select option from select'
    'body' : 'Select "${1:Option}" from "${2:Select}"'
  'Check Checkbox':
    'prefix' : 'check checkbox'
    'body' : 'Check "${1:Checkbox}"'
  'Uncheck Checkbox':
    'prefix' : 'uncheck checkbox'
    'body' : 'Uncheck "${1:Checkbox}"'
  'Check Option in Checkbox':
    'prefix' : 'check option in checkbox'
    'body' : 'Check "${1:Option}" in "${2:Checkbox}"'
  'Fill in the Field in the Form with Value':
    'prefix' : 'fill in the field in the form with value'
    'body' : 'Fill in the "${}" field in the "${}" form with "${}"'
  'Press Button in the Form':
    'prefix' : 'press button in the form'
    'body' : 'Press the "${1:Button}" button in the "${2:Form}" form'
  'Focus on the Fiel':
    'prefix' : 'focus on the field'
    'body' : 'Focus on the "${1:Field}" field'
  'Press Key':
    'prefix' : 'press the key'
    'body' : 'Press the "${1:Key}" key'
  'The value of the Field should be Value':
    'prefix' : 'the value of the field should be value'
    'body' : 'The value of the #{1:Field}" field should be "${2:Value}"'
  'The value of the Field should not be Value':
    'prefix' : 'the value of the field should not be value'
    'body' : 'The value of the #{1:Field}" field should not be "${2:Value}"'
  'Option in Select shoud be selected':
    'prefix' : 'option in select should be selected'
    'body' : '"${1:Option}" in "${2:Select}" should be selected'
  'Option in Select shoud not be selected':
    'prefix' : 'option in select should not be selected'
    'body' : '"${1:Option}" in "${2:Select}" should not be selected'
  'The Checkbox should be checked':
    'prefix' : 'the checkbox should be checked'
    'body' : 'The "${1:Checkbox}" checkbox should be checked'
  'The Checkbox should not be checked':
    'prefix' : 'the checkbox should not be checked'
    'body' : 'The "${1:Checkbox}" checkbox should not be checked'
  'The value of the Field in the Form should be Value':
    'prefix' : 'the value of the field in the form should be value'
    'body' : 'The value of the "${1:Field}" field in the "${2:Form}" form should be "${3:Value}"'
  'The value of the Field in the Form should not be Value':
    'prefix' : 'the value of the field in the form should not be value'
    'body' : 'The value of the "${1:Field}" field in the "${2:Form}" form should not be "${3:Value}"'
  'The Field should have focus':
    'prefix' : 'the field should have focus'
    'body' : 'The "${1:Field}" field shoud have focus'
  'Option in Chechbox should be checked':
    'prefix' : 'option in checkbox should be checked'
    'body' : '"${1:Option}" in "${2:Checkbox}" should be checked'
  'The Button should be shown':
    'prefix' : 'the button should be shown'
    'body' : 'The "${1:Button}" button should be shown'
  'Each items of List should be unique':
    'prefix' : 'each items of list should be unique'
    'body' : 'Each items of "${1:List}" should be unique'
  'The text of the cell in Column and Row in the Table should be Text':
    'prefix' : 'the text of the cell in column and row in the table should be text'
    'body' : 'The text of the cell in "${1:Column number}" column and "${2:Row number}" row in the "${3:Table}" table shoulde be "${4:Text}"'
  'Background color of the cell in Column and Row in the Table shoud be Color':
    'prefix' : 'background color of the cell in column and row in the table should be color'
    'body' : 'Background color of the cell in "${1:Column number}" column and "${2:Row number}" row in the "${3:Table}" table should be "${4:Color code}"'
  'the row number of the cell where Column text equals Text in the Table':
    'prefix' : 'The row number of the cell where column text equals text in the table'
    'body' : 'The row number of the cell where "${1:Column number}" column text equals "${2:Text}" in the "${3:Table}" table'
  'the column number of the cell where Row text equals Text in the Table':
    'prefix' : 'The column umber of the cell where row text equals text in the table'
    'body' : 'The column umber of the cell where "${1:Row number}" column text equals "${2:Text}" in the "${3:Table}" table'
  'The text of the cell in Column and Row in the Table':
    'prefix' : 'the text of the cell in column and row in the table'
    'body' : 'The text of the cell in the "${1:Column number}" column and "${2:Row number}" row in the "${3:Table}" table'
  'The text of the cell in Column and Row in the header of the Table':
    'prefix' : 'the text of the cell in column and row in the header of the table'
    'body' : 'The text of the cell in the "${1:Column number}" column and "${2:Row number}" row in the header of the "${3:Table}" table'
  'Sum of ColumnSum which ColumnSearch is Text in the Table':
    'prefix' : 'sum of the columnsum which columnsearch is text in the table'
    'body' : 'Sum of the "${1:Column number to sum}" column which "${2:Column number to search}" column is "${3:Text}" in the "${4:Table}" table'
  'Maximize the window':
    'prefix' : 'maximize the window'
    'body' : 'Maximize the window'
  'Change window size':
    'prefix' : 'change window size'
    'body' : 'Change window size: width "${1:px}" px, height "${2:px}" px'
  'Open Url in new window':
    'prefix' : 'open url in new window'
    'body' : 'Open "${1:Url}" in new window'
  'Swhitch to Window':
    'prefix' : 'swhitch to window'
    'body' : 'Switch to "${1:Window title}" window'
  'Swhich to the opened window':
    'prefix' : 'swhitch to the opened wiondow'
    'body' : 'Swhitch to the opened window'
  'Swhitch back to the oirginal window':
    'prefix' : 'swhitch to the original window'
    'body' : 'Swhitch to the original window'
  'Close Window':
    'prefix' : 'close window'
    'body' : 'Close "${1:Window title}" window'
  'Accept the currently displayed dialog':
    'prefix' : 'accept th ecurrently displayed dialog'
    'body' : 'Accept the currently displayed dialog'
  'The alert message shoud be Text':
    'prefix' : 'the alert message should be text'
    'body' : 'The alert message should be "${1:Text}"'
  'The confirm message should be Text':
    'prefix' : 'the confirm message should be text'
    'body' : 'The confirm message should be "${1:Text}"'
  'The number in Text':
    'prefix' : 'the number in text'
    'body' : 'The number in "${1:Text}"'
  'The result of CalculationFormula':
    'prefix' : 'the result of calculationformula'
    'body' : 'The result of "${1:CalculationFormula}"'
