'.source.gfm':
  '「要素名」エレメントをクリックする':
    'prefix' : 'ce'
    'body' : '「${1:要素名}」エレメントをクリックする'
  '画面に「テキスト」と表示されていること':
    'prefix' : 'tiv'
    'body' : '画面に「${1:テキスト}」と表示されていること'
  '画面に「テキスト」と表示されていないこと':
    'prefix' : 'tniv'
    'body' : '画面に「${1:テキスト}」と表示されていないこと'
  '「要素名」に「テキスト」と表示されていること':
    'prefix' : 'tie'
    'body' : '「${1:要素名}」に「${2:テキスト}」と表示されていること'
  '「要素名」に「テキスト」と表示されていないこと':
    'prefix' : 'tnie'
    'body' : '「${1:要素名}」に「${2:テキスト}」と表示されていないこと'
  '「要素名」の「属性名」属性に「テキスト」が含まれていること':
    'prefix' : 'aect'
    'body' : '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていること'
  '「要素名」の「属性名」属性に「テキスト」が含まれていないこと':
    'prefix' : 'aenct'
    'body' : '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていないこと'
  '「テキスト1」と「テキスト2」が一致すること':
    'prefix' : 't=t'
    'body' : '「${1:テキスト1}」と「${2:テキスト2}」が一致すること'
  '「テキスト」テキストが正規表現「正規表現」に一致すること':
    'prefix' : 't=re'
    'body' : '「${1:テキスト}」テキストが正規表現「${2:正規表現}」に一致すること'
  '$テキスト =「エレメント名」エレメントのテキスト':
    'prefix' : 'mvu'
    'body' : '$テキスト =「${1:エレメント名}」エレメントのテキスト'
  '「URL」に移動する':
    'prefix' : 'mvu'
    'body' : '「${1:URL}」に移動する'
  '「リンク名」のリンク先へ移動する':
    'prefix' : 'mvlu'
    'body' : '「${1:リンク名}」のリンク先へ移動する'
  'トップページに移動する':
    'prefix' : 'gttp'
    'body' : 'トップページに移動する'
  '履歴の次のページへ進む':
    'prefix' : 'gtnp'
    'body' : '履歴の次のページへ進む'
  '履歴の前のページに戻る':
    'prefix' : 'gtpp'
    'body' : '履歴の前のページに戻る'
  'ページをリロードする':
    'prefix' : 'rp'
    'body' : 'ページをリロードする'
  'URLが「URL」であること':
    'prefix' : 'u=u'
    'body' : 'URLが「${1:URL}」であること'
  'URLが「URL」でないこと':
    'prefix' : 'u!=u'
    'body' : 'URLが「${1:URL}」でないこと'
  '「フィールド名」フィールドに「入力値」と入力する':
    'prefix' : 'itif'
    'body' : '「${1:フィールド名}」フィールドに「${2:入力値}」と入力する'
  '「ボタン名」ボタンをクリックする':
    'prefix' : 'cb'
    'body' : '「${1:ボタン名}」ボタンをクリックする'
  '「選択値」という値を「セレクトボックス名」から選択する':
    'prefix' : 'svfsb'
    'body' : '「${1:選択値}」という値を「${2:セレクトボックス名}」から選択する'
  '「チェックボックス名」にチェックをつける':
    'prefix' : 'cicb'
    'body' : '「${1:チェックボックス名}」にチェックをつける'
  '「チェックボックス名」のチェックをはずす':
    'prefix' : 'rccb'
    'body' : '「${1:チェックボックス名}」のチェックをはずす'
  '「チェックボックス名」の「選択肢」にチェックを入れる':
    'prefix' : 'cvcb'
    'body' : '「${1:チェックボックス名}」の「${2:選択肢}」にチェックを入れる'
  '「フォーム名」フォームの「フィールド名」フィールドに「入力値」と入力する':
    'prefix' : 'ivff'
    'body' : '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドに「${3:入力値}」と入力する'
  '「フォーム名」フォームの「ボタン名」ボタンをクリックする':
    'prefix' : 'cbf'
    'body' : '「${1:フォーム名}」フォームの「${2:ボタン名}」ボタンをクリックする'
  '「フィールド名」フィールドにフォーカスを当てる':
    'prefix' : 'ff'
    'body' : '「${1:フィールド名}」フィールドにフォーカスを当てる'
  '「キー」キーを押す':
    'prefix' : 'pk'
    'body' : '「${1:キー}」キーを押す'
  '「フィールド名」フィールドの値が「入力値」であること':
    'prefix' : 'fv'
    'body' : '「${1:フィールド名}」フィールドの値が「${2:入力値}」であること'
  '「フィールド名」フィールドの値が「入力値」でないこと':
    'prefix' : 'fnv'
    'body' : '「${1:フィールド名}」フィールドの値が「${2:入力値}」でないこと'
  '「セレクトボックス名」セレクトで「選択値」が選択されていること':
    'prefix' : 'vss'
    'body' : '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていること'
  '「セレクトボックス名」セレクトで「選択値」が選択されていないこと':
    'prefix' : 'vnss'
    'body' : '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていないこと'
  'チェックボックス「チェックボックス名」のチェックがついていること':
    'prefix' : 'ccb'
    'body' : 'チェックボックス「${1:チェックボックス名}」のチェックがついていること'
  'チェックボックス「チェックボックス名」のチェックがはずれていること':
    'prefix' : 'cbnc'
    'body' : 'チェックボックス「${1:チェックボックス名}」のチェックがはずれていること'
  '「フォーム名」フォームの「フィールド名」フィールドの値が「入力値」であること':
    'prefix' : 'fft'
    'body' : '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」であること'
  '「フォーム名」フォームの「フィールド名」フィールドの値が「入力値」でないこと':
    'prefix' : 'ffnt'
    'body' : '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」でないこと'
  '「フィールド名」フィールドにフォーカスが当たっていること':
    'prefix' : 'ff'
    'body' : '「${1:フィールド名}」フィールドにフォーカスが当たっていること'
  '「チェックボックス名」の「選択肢」にチェックが入っていること':
    'prefix' : 'ccc'
    'body' : '「${1:チェックボックス名}」の「${2:選択肢}」にチェックが入っていること'
  '画面に「ボタン名」ボタンがあること':
    'prefix' : 'cbv'
    'body' : '画面に「${1:ボタン名}」ボタンがあること'
  '「リスト名」の中に重複がないこと':
    'prefix' : 'tltt'
    'body' : '「${1:リスト名}」の中に重複がないこと'
  '「テーブル名」テーブルの「行番号」行目「列番号」列目のテキストが「テキスト」であること':
    'prefix' : 'tltc'
    'body' : '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキストが「${4:テキスト}」であること'
  '「テーブル名」テーブルの「行番号」行目「列番号」列目の背景色が「#000」であること':
    'prefix' : 'tlts'
    'body' : '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目の背景色が「${4:#000}」であること'
  '「テーブル名」テーブルの「検索する列番号」列目が「条件」の「合計する列番号」列目を合計する':
    'prefix' : 'tlt'
    'body' : '「${1:テーブル名}」テーブルの「${2:検索する列番号}」列目が「${3:条件}」の「${4:合計する列番号}」列目を合計する'
  '$行番号 =「テーブル名」テーブルの「列番号」列目のテキストが「テキスト」の行番号':
    'prefix' : '$l'
    'body' : '$行番号 =「${1:テーブル名}」テーブルの「列番号」列目のテキストが「テキスト」の行番号'
  '$テキスト =「テーブル名」テーブルの「行番号」行目「列番号」列目のテキスト':
    'prefix' : '$t'
    'body' : '$テキスト =「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキスト'
  'ウィンドウを最大化する':
    'prefix' : 'mws'
    'body' : 'ウィンドウを最大化する'
  'ウィンドウを幅「横幅」px、縦「縦幅」pxに変更する':
    'prefix' : 'cws'
    'body' : 'ウィンドウを幅「${1:横幅}」px、縦「${2:縦幅}」pxに変更する'
  'ウィンドウを「タイトル名」に切り替える':
    'prefix' : 'gtw'
    'body' : 'ウィンドウを「${1:タイトル名}」に切り替える'
  '開いたウィンドウに切り替える':
    'prefix' : 'gow'
    'body' : '開いたウィンドウに切り替える'
  '元のウィンドウに戻す':
    'prefix' : 'gcw'
    'body' : '元のウィンドウに戻す'
  'アラートを閉じる':
    'prefix' : 'ca'
    'body' : 'アラートを閉じる'
  'アラートに「メッセージ」と表示されていること':
    'prefix' : 'cam'
    'body' : 'アラートに「${1:メッセージ}」と表示されていること'
  '確認ダイアログに「メッセージ」と表示されていること':
    'prefix' : 'cnm'
    'body' : '確認ダイアログに「${1:メッセージ}」と表示されていること'
  '$数値 =「テキスト」から数値を抜き出す':
    'prefix' : '$v'
    'body' : '$数値 =「${1:テキスト}」から数値を抜き出す'
  '$計算結果 =「計算式」の計算結果':
    'prefix' : '$e'
    'body' : '$計算結果 =「${1:keisanshiki}」の計算結果'
