'.source.shouldbee':
  'click elements'
    'prefix' : '「'
    'body' : '「${1:要素名}」エレメントをクリックする'
  'click elements'
    'prefix' : 'がめん'
    'body' : '画面に「${1:テキスト}」と表示されていること'
  'click elements'
    'prefix' : 'がめん'
    'body' : '画面に「${1:テキスト}」と表示されていないこと'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:要素名}」に「${2:テキスト}」と表示されていること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:要素名}」に「${2:テキスト}」と表示されていないこと'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていないこと'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:テキスト1}」と「${2:テキスト2}」が一致すること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:テキスト}」テキストが正規表現「${2:正規表現}」に一致すること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:URL}」に移動する'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:リンク名}」のリンク先へ移動する'
  'click elements'
    'prefix' : 'とっぷ'
    'body' : 'トップページに移動する'
  'click elements'
    'prefix' : 'りれき'
    'body' : '履歴の次のページへ進む'
  'click elements'
    'prefix' : 'りれき'
    'body' : '履歴の前のページに戻る'
  'click elements'
    'prefix' : 'ぺーじ'
    'body' : 'ページをリロードする'
  'click elements'
    'prefix' : 'URL'
    'body' : 'URLが「${1:URL}」であること'
  'click elements'
    'prefix' : 'URL'
    'body' : 'URLが「${1:URL}」でないこと'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フィールド名}」フィールドに「${2:入力値}」と入力する'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:ボタン名}」ボタンをクリックする'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:選択値}」という値を「${2:セレクトボックス名}」から選択する'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:チェックボックス名}」にチェックをつける'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:チェックボックス名}」のチェックをはずす'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:チェックボックス名}」の「${2:選択肢}」にチェックを入れる'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドに「${3:入力値}」と入力する'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フォーム名}」フォームの「${2:ボタン名}」ボタンをクリックする'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フィールド名}」フィールドにフォーカスを当てる'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:キー}」キーを押す'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フィールド名}」フィールドの値が「${2:入力値}」であること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フィールド名}」フィールドの値が「${2:入力値}」でないこと'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていないこと'
  'click elements'
    'prefix' : '「'
    'body' : 'チェックボックス「${1:チェックボックス名}」のチェックがついていること'
  'click elements'
    'prefix' : '「'
    'body' : 'チェックボックス「${1:チェックボックス名}」のチェックがはずれていること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」であること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:フィールド名}」フィールドにフォーカスが当たっていること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:チェックボックス名}」の「${2:選択肢}」にチェックが入っていること'
  'click elements'
    'prefix' : 'がめん'
    'body' : '画面に「${1:ボタン名}」ボタンがあること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:リスト名}」の中に重複がないこと'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキストが「${4:テキスト}」であること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目の背景色が「${4:#000}」であること'
  'click elements'
    'prefix' : '「'
    'body' : '「${1:テーブル名}」テーブルの「${2:検索する列番号}」列目が「${3:条件}」の「${4:合計する列番号}」列目を合計する'
  'click elements'
    'prefix' : '$'
    'body' : '$行番号 =「${1:テーブル名}」テーブルの「列番号」列目のテキストが「テキスト」の行番号'
  'click elements'
    'prefix' : '$'
    'body' : '$テキスト =「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキスト'
  'click elements'
    'prefix' : 'うぃんどう'
    'body' : 'ウィンドウを最大化する'
  'click elements'
    'prefix' : 'うぃんどう'
    'body' : 'ウィンドウを幅「${1:横幅}」px、縦「${2:縦幅}」pxに変更する'
  'click elements'
    'prefix' : 'うぃんどう'
    'body' : 'ウィンドウを「${1:タイトル名}」に切り替える'
  'click elements'
    'prefix' : 'ひらいた'
    'body' : '開いたウィンドウに切り替える'
  'click elements'
    'prefix' : 'もとの'
    'body' : '元のウィンドウに戻す'
  'click elements'
    'prefix' : 'あらーと'
    'body' : 'アラートに「${1:メッセージ}」と表示されていること'
  'click elements'
    'prefix' : 'あらーと'
    'body' : 'アラートを閉じる'
  'click elements'
    'prefix' : 'かくにん'
    'body' : '確認ダイアログに「${1:メッセージ}」と表示されていること'
  'click elements'
    'prefix' : '$'
    'body' : '$数値 =「${1:テキスト}」から数値を抜き出す'
  'click elements'
    'prefix' : '$'
    'body' : '$計算結果 =「${1:計算式}」の計算結果'
