'scopeName': 'source.gfm'
'name': 'shouldbee'
'fileTypes': [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'rmd'
  'ron'
]
'patterns': [
  {
    'begin': '「'
    'end': '」'
    'name': 'name.object.gfm'
  }
]
