'scopeName': 'source.gfm'
'name': 'shouldbee'
'fileTypes': [
  'markdown'
  'md'
  'mdown'
  'mkd'
  'mkdown'
  'rmd'
  'ron'
]
'patterns': [
  {
    'begin': '「'
    'end': '」'
    'name': 'name.object.gfm'
  }
  {
    'match': '.*こと'
    'check.step.gfm'
  }
    '「${1:要素名}」エレメントをクリックする'
    '画面に「${1:テキスト}」と表示されていること'
    '画面に「${1:テキスト}」と表示されていないこと'
    '「${1:要素名}」に「${2:テキスト}」と表示されていること'
    '「${1:要素名}」に「${2:テキスト}」と表示されていないこと'
    '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていること'
    '「${1:要素名}」の「${2:属性名}」属性に「${3:テキスト}」が含まれていないこと'
    '「${1:テキスト1}」と「${2:テキスト2}」が一致すること'
    '「${1:テキスト}」テキストが正規表現「${2:正規表現}」に一致すること'
    '$テキスト =「${1:エレメント名}」エレメントのテキスト'
    '「${1:URL}」に移動する'
    '「${1:リンク名}」のリンク先へ移動する'
    'トップページに移動する'
    '履歴の次のページへ進む'
    '履歴の前のページに戻る'
    'ページをリロードする'
    'URLが「${1:URL}」であること'
    'URLが「${1:URL}」でないこと'
    '「${1:フィールド名}」フィールドに「${2:入力値}」と入力する'
    '「${1:ボタン名}」ボタンをクリックする'
    '「${1:選択値}」という値を「${2:セレクトボックス名}」から選択する'
    '「${1:チェックボックス名}」にチェックをつける'
    '「${1:チェックボックス名}」のチェックをはずす'
    '「${1:チェックボックス名}」の「${2:選択肢}」にチェックを入れる'
    '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドに「${3:入力値}」と入力する'
    '「${1:フォーム名}」フォームの「${2:ボタン名}」ボタンをクリックする'
    '「${1:フィールド名}」フィールドにフォーカスを当てる'
    '「${1:キー}」キーを押す'
    '「${1:フィールド名}」フィールドの値が「${2:入力値}」であること'
    '「${1:フィールド名}」フィールドの値が「${2:入力値}」でないこと'
    '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていること'    '「${1:セレクトボックス名}」セレクトで「${2:選択値}」が選択されていないこと'    'チェックボックス「${1:チェックボックス名}」のチェックがついていること'    'チェックボックス「${1:チェックボックス名}」のチェックがはずれていること'    '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」であること'    '「${1:フォーム名}」フォームの「${2:フィールド名}」フィールドの値が「${3:入力値}」でないこと'    '「${1:フィールド名}」フィールドにフォーカスが当たっていること'    '「${1:チェックボックス名}」の「${2:選択肢}」にチェックが入っていること'    '画面に「${1:ボタン名}」ボタンがあること'    '「${1:リスト名}」の中に重複がないこと'    '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキストが「${4:テキスト}」であること'    '「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目の背景色が「${4:#000}」であること'
    '「${1:テーブル名}」テーブルの「${2:検索する列番号}」列目が「${3:条件}」の「${4:合計する列番号}」列目を合計する'
    '$行番号 =「${1:テーブル名}」テーブルの「列番号」列目のテキストが「テキスト」の行番号'
    '$テキスト =「${1:テーブル名}」テーブルの「${2:行番号}」行目「${3:列番号}」列目のテキスト'
    'ウィンドウを最大化する'
    'ウィンドウを幅「${1:横幅}」px、縦「${2:縦幅}」pxに変更する'
    'ウィンドウを「${1:タイトル名}」に切り替える'
    '開いたウィンドウに切り替える'
    '元のウィンドウに戻す'
    'アラートを閉じる'
    'アラートに「${1:メッセージ}」と表示されていること'
    '確認ダイアログに「${1:メッセージ}」と表示されていること'
    '$数値 =「${1:テキスト}」から数値を抜き出す'
    '$計算結果 =「${1:keisanshiki}」の計算結果'
]
